.wrap-table100 {
  width: 75%;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#action-tag {
  width: 200px;
}

table thead tr {
  color: #43A2F3;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #415373;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;

}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  #action-tag {
    width: 100%;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40%;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  
  /* Table post */
  #table_post tbody tr td:nth-child(1):before {
    content: "Titre";
  }
  #table_post tbody tr td:nth-child(2):before {
    content: "Auteur";
  }
  #table_post tbody tr td:nth-child(3):before {
    content: "Tag";
  }
  #table_post tbody tr td:nth-child(4):before {
    content: "Date de publication";
  }
  #table_post tbody tr td:nth-child(5):before {
    content: "Dernière modification";
  }
  #table_post tbody tr td:nth-child(6):before {
    content: "Commentaire";
  }
  #table_post tbody tr td:nth-child(7):before {
    content: "Like";
  }
  #table_post tbody tr td:nth-child(8):before {
    content: "Dislike";
  }
  #table_post tbody tr td:nth-child(9):before {
    content: "Action";
  }

  /* Table tag */
  #table_tag tbody tr td:nth-child(1):before {
    content: "Tag";
  }
  #table_tag tbody tr td:nth-child(2):before {
    content: "Nombre d'article";
  }
  #table_tag tbody tr td:nth-child(3):before {
    content: "Action";
  }

  /* Table comment */
  #table_comment tbody tr td:nth-child(1):before {
    content: "Article";
  }
  #table_comment tbody tr td:nth-child(2):before {
    content: "Date";
  }
  #table_comment tbody tr td:nth-child(3):before {
    content: "Auteur";
  }
  #table_comment tbody tr td:nth-child(4):before {
    content: "Commentaire";
  }
  #table_comment tbody tr td:nth-child(5):before {
    content: "Statut";
  }

    /* Table account */
    #table_account tbody tr td:nth-child(1):before {
      content: "Pseudo";
    }
    #table_account tbody tr td:nth-child(2):before {
      content: "Nom";
    }
    #table_account tbody tr td:nth-child(3):before {
      content: "Prenom";
    }
    #table_account tbody tr td:nth-child(4):before {
      content: "Mail";
    }
    #table_account tbody tr td:nth-child(5):before {
      content: "Inscription";
    }
    #table_account tbody tr td:nth-child(6):before {
      content: "Like";
    }
    #table_account tbody tr td:nth-child(7):before {
      content: "Dislike";
    }
    #table_account tbody tr td:nth-child(8):before {
      content: "Comment";
    }
    #table_account tbody tr td:nth-child(9):before {
      content: "Action";
    }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}