@media (max-width: 576px) { 
    .masthead--home {
        margin-top: 68px;
    }

    .title-page {
        font-size: 2em;
    }

    .masthead--about {
        height: 150px;
    }

    .post_news--preview {
        font-size: 0.6em;
    }
    .resp-title {
        font-size: 1.2em;
    }
    .socialIconContainer {
        width: 30px;
    }
    
}

@media (max-width: 992px) { 
    #resp-add-tag
    {
        display: block;
    }
}

@media (max-width: 1200px) { 
    html {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
        width: 100%;
    }
    .masthead--home {
        margin-top: 65px;
    }
    .preview-img, .div_graph, .img-post {
        display: none;
    }
    .about-border {
        border: none;
    }
    #loadingText {
        font-size: 1em;
    }
    #adminPost {
        margin-top: 50px;
    }
    .table-responsive,.td-post-action,.input-account,.td-large {
        width: 100%;
    }
    
    
}